:root {
  --color-red: #F38160;
  --color-black: #403C39;
  --color-white: #FAFAFA;
  --color-gray: #D0D0D240;
  --text-font: "Poppins", sans-serif;
  --title-font:"Montserrat", sans-serif;
  --text-size: 12px;
  --text-size2: 16px;
  --title-size: 60px;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-family: var(--text-font);
  font-size: var(--text-size);
  color: var(--color-black);
  font-weight: 400;
}

.header {
  display: flex;
  gap: 230px;
  margin-bottom: 50px;
}
.header .logo img {
  width: 190px;
}
.header .navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}
.header .navbar .menu ul a {
  text-decoration: none;
  color: var(--color-black);
  padding: 5px;
}
.header .navbar .menu ul a:hover {
  color: var(--color-red);
  text-decoration: underline;
  font-weight: 600;
}
.header .navbar .menu ul .active {
  color: var(--color-red);
  text-decoration: underline;
}
.header .navbar aside {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .navbar aside .carrito {
  display: flex;
  align-items: center;
  position: relative;
}
.header .navbar aside .carrito .shopping-bag {
  width: 20px;
}
.header .navbar aside .carrito .notification {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  right: 0;
}
.header .navbar aside ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}
.header .navbar aside ul li:first-of-type a {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 15%;
  text-decoration: none;
  text-align: center;
  background-color: var(--color-red);
  color: var(--color-white);
  background-color: var(--color-white);
  color: var(--color-red);
  text-decoration: underline;
}
.header .navbar aside ul li:first-of-type a:hover {
  font-weight: 600;
}
.header .navbar aside ul li:last-of-type a {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 15%;
  text-decoration: none;
  text-align: center;
  background-color: var(--color-red);
  color: var(--color-white);
}
.header .navbar aside ul li:last-of-type a:hover {
  font-weight: 600;
  text-decoration: underline;
  background-color: var(--color-white);
  color: var(--color-red);
}

.main .hero {
  position: relative;
}
.main .hero .hero-image {
  background-image: url(img/rectangle.png), url(img/rectangle-1.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 180px 100px, 240px 180px;
  width: 50%;
  position: absolute;
  right: 200px;
  top: -92px;
}
.main .hero .hero-title {
  max-width: 50%;
}
.main .hero .hero-title h1 {
  font-family: var(--title-font);
  font-size: var(--title-size);
  margin-bottom: 30px;
}
.main .hero .hero-title h1 span {
  color: var(--color-red);
}
.main .hero .hero-title p {
  font-size: var(--text-size2);
  max-width: 75%;
  margin-bottom: 30px;
}
.main .hero .searching input {
  background-image: url(img/search.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: var(--color-gray);
  padding: 10px;
  border-radius: 5%;
  margin-bottom: 30px;
}
.main .hero .services {
  max-width: 50%;
  margin-bottom: 50px;
}
.main .hero .services ul {
  max-width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  position: relative;
  gap: 10px;
}
.main .hero .services ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main .hero .services ul li img {
  width: 15px;
}
.main .categories {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.main .categories article {
  max-width: 200px;
}
.main .categories article img {
  width: 85px;
  padding-bottom: 10px;
}
.main .categories article h2 {
  font-size: var(--text-size2);
  padding-bottom: 10px;
}/*# sourceMappingURL=style.css.map */