/* colores */
$color-red: #F38160 !default;
$color-white: #FAFAFA !default;
$color-black: #403C39 !default;
$color-gray: #949494 !default;
$color-gray2: rgb(#D0D0D240, 0.25) !default;

/* Fuentes */
$text-font: "Poppins", sans-serif;
$title-font: "Montserrat", sans-serif;

/* tamaño */
$text-size: 12px;
$text2-size: 16px;
$title-size: 60px;